html {
  height: 100%;

  width: 100%;
}
body{
  background-attachment: hiddden;
  height: 100%;
  width: 100%;
  margin: 0;
font-family:'Poppins', sans-serif;
overflow-x: hidden;
  
}
/* header */
#nav-bar{
  position: fixed  ;
  display: flex;
  justify-content: space-between;
  text-align:center;
  align-items:center;
  height: 1vh;
  width: 100%;
  z-index:10;  
  padding-top: 40px;
  left: 0;
  top: 0 ;
}
#logo{
  margin-left: 5%;
  height:9vh;
}


.ul{
   background-color: rgba(0, 0, 0, 0.843);
  border-radius: 70PX;
  border: solid 1px;
  display: flex;
  justify-content:space-around;
  text-align:center;
  transition: 0.7s ease-in-out;
}
.li{
  margin: 0px 30px;
  list-style: none;
 text-align: center;
 transition: 1s;
  border-radius: 20px;
  padding: 1vh;
}
.al{
  text-decoration: none;
  color: rgb(194, 194, 194);
font-size: 1.1em;
transition: 0.5s;
}


.li:hover{
  padding:1vh 2vh  ;
  background-color: orange;
  .al{
    font-size: 1.2em;
     color: #ffffff;
  }
}


#pesquisa{
  width:15%;
  height:5vh;
  margin:5%;
  border-radius: 20px;
  border-style:none;
  border: solid 1px;
  background-color: rgba(0, 0, 0, 0.843);
  text-align: center;
 transition: 0.5s;
}
header{
  height: 15vh;
}


/* main */
[data-anime]{
  opacity: 0;
  transition:  all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
  position: relative;
}
[data-anime="right"]{
left: 50%; 
}
[data-anime='left']{
  left: -50%;
 
  }
  [data-anime='top']{
    top: -5em;
    }
.entrou{
      opacity: 1;
     left: 0;
     right: 0;
     top: 0;
   
 }

.main{
   background-attachment:hidden;
   width: 100%;
   margin: 0;

}
.main video{
   height: 55;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
 
}


#Titulo1{
  color: #ffffff;
  font-size: 2.8em;
 position: absolute;
  z-index: 3;
left: 5%;
  top:5%
}
  

#txtpr{
  border-bottom: 3px orange solid ;
  font-size: 2.5em;
}
#Titulo{
  position: absolute;
  z-index: 3;
  top:25%;
  left: 5%;
  font-size: 3em;
}
h1{text-align: left;
  
 color:transparent ;
  position: absolute;
   z-index: 3;

}

h1 span{
  transition: 1.5s;
  margin: 5px;
}
h1 span:hover {
    color: orange;
    font-size: 1.2em;
   -webkit-text-stroke: 0px;
 
}
#exp{
  color: #ff0000;
  font-size: 1.2em;
}
#btn{
  position: absolute;
  z-index: 3;
 bottom: 10%;
  right: 40%;
  background: rgb(255, 255, 255);
  border:none;
  border-radius: 40px;
  width: 20%;
  height: 7vh;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  text-align: center;
  text-decoration: none; 
  padding-top:1%;
 border: 1px solid black;
}

#btn:hover{
  color: orange;
  height: 8vh;
}
#texto1{
  transition: 2s;
}
/* parete do grafico e do botão um */
.titulo2{
  margin-left: 5%;
  font-size: 3em;
  font-weight: 2%;
  font-family:"Montserrat",serif;
  color: orange;
  transition: 0.5s;
 
}
.titulo2:hover{
  -webkit-text-stroke: 0px black;;
  font-size: 2.7em;
  .span{
  color: red;
}
}

.lorems{
  /* height: 550px; */
  position: relative;
  display: grid;
  grid-template-columns:1fr 2fr  10%;
  width: 97%;
  background-color: rgb(0, 0, 0);
  margin: 10px;
  border-radius: 50px;
 
}
.sombra{
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 18%;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.sombra::before{
  content: ' ';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:transparent;
  bottom: 0;
  right: -50px;
  box-shadow: -20px 20px rgb(255, 255, 255);
}
.sombradois{
  position: absolute;
  background-color: transparent;
  border-top-right-radius: 30px;
  text-align: center;
  width: 20%;
  height: 7%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.sombradois::before{
  content: ' ';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:transparent;
  left: 0;
  top: -335%;
  box-shadow: -20px 20px rgb(255, 255, 255);
}
.esp2{
  padding: 5% ;
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  

}
.rol{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color:#1e1e1e;
  margin-bottom: 40px;
  border-radius: 110px;
  border: 2px solid #22A1E5;
 transition: all 5s ease-in-out;
}


.graf{
  height: 5em;
  width: 5em;
  border-radius: 100%;
border: 10px solid #22A1E5;
border-top-color: #E62230;
border-left-color: #E6E022;
  background-color:rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  transition: 5s;

}
.agra{
height: 4em;
  width: 4em;
  background-color: #1e1e1e;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s;
}
.agra p{
  font-size:1.5em ;
  color: #ffffff;
  
}
.esp1{

  padding: 10%;
 display: flex;
flex-direction: column;
align-items: center;
  margin-top: 5%;
}
.esp1 h2{
  color: white;
  text-align: center;
  padding: 0;
}
.esp2 h2{
  color: azure;

}

#int{
  font-size: 1.5em;
  width: 80%;
  height: 70%;
  border-radius: 50px;
  border: none;
 background-color: #ffa600;
transition: 0.3s;
color: rgb(0, 0, 0);
}

#int:hover{
  width: 85%;
  height: 75%;
font-size: 1.7em;
}
#paragrafo,#paragrafo2{
color: #ffffff; 
}
/* parte do frame */
.iframe{
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
 margin: 5% 0%;  
  
}

/* parte das fotos que se mechem */
#parte1{
  display: flex;
}
#parte1 p{
 
  border-radius: 10% 0% 0% 10%;
  padding: 3%;
  text-align: right;
}
#parte2 p{
  
  border-radius: 0% 10% 10% 0%;
  padding: 3%;
  text-align: left;
 
}
#parte2{
  display: flex;
  flex-direction: row-reverse;
   margin-bottom: 10%;
 
  
}

.img{
  width: 45%;
  margin: 5%;
  border-radius: 2000px;
  background-attachment: cover;
  background-size: cover;
  box-shadow: 0px 100px 180px -90px black;
  transition:1s;
  
}
.img:hover{
  width: 50%;
  box-shadow: 10px 90px 200px -100px black;
  
}
/* ultima parte  */
#ft-final{
  width: 100%;
  background-attachment: cover;
  background-size: cover;
}
#pfinal{
  text-align: center;
  margin: 10%;
}
/* footer */
footer{
  background-color: orange ;
  text-align: center;
}
footer ul {
 display: flex; 
  justify-content: center;
 
}
footer li{
  
  margin: 3%;
}

@media (max-width:728px){

  #tudo{
    display: flex;
    position: absolute;
    left: 29em;
    top:2vh;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    height: 4em;
    margin: 0;
    border-radius:2em;
  }
.respos{
  margin-right: 4%;
  display: flex;
  flex-direction: column;
 align-items: flex-end;
transition: all 0.6s ease-in-out;

}
  .respos .barra1,.respos .barra2,.respos .barra3{
    margin-right: 5%;
    align-items: flex-end;
    height: 0.3em;
    background-color: aliceblue;
  }
  .ul{
  
    display: flex;
    flex-direction: column;
    border-radius: 1em  ;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0%;
    margin-top: 0;
    height: 10em;
  }
 .respo{
  position: relative;
  left: -1em;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
 align-items: flex-end;
 transition: all 0.6s ease-in-out;
 }
 .barra1,.barra2,.barra3{
  background-color: #1e1e1e;
 margin: 0.2em 0em;
  height: 0.4em;  
  border-radius: 20em;
 
 }
 .barra1{
  width: 2em;
 }
 .barra2{
  width: 1.5em;
 }
 .barra3{
  width: 2.5em;
 }
  #texto1, #texto2, #parte1,#parte2{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .lorems{
    width: 24em;
    margin: 0% 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0% 5%;
  }
  .esp2{
    margin-bottom: 35%;
  }
.sombra{
width: 100%;
}
.sombra::before{
  content: ' ';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:transparent;
  top: -50px;
  right: 0px;
  box-shadow: 20px 20px rgb(255, 255, 255);
}
.sombradois::before{
  content: ' ';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:transparent;
  top:-135px;
  left: 0px;
  box-shadow: -20px 20px rgb(255, 255, 255);
}
.titulo2{
  font-size: 2.7em;

}
.titulo2:hover{
  font-size: 2.5em;
}

.img{
border: none;
border-radius: 0px;
width: 100%;
background-attachment: cover;
  background-size: cover;
}
[data-anime]{
  opacity: 0;
  transition:  all 1s ease-in-out;
  position: relative;
}
[data-anime="right"]{
left: 50%; 
}
[data-anime='left']{
  left: -50%;
 
  }
  [data-anime='top']{
    top: -5em;
    }
.entrou{
      opacity: 1;
     left: 0;
     right: 0;
     top: 0;
   
 }


}
