html {
  height: 100%;
  width: 100%;
}
body{
  background-attachment: hiddden;
  height: 100%;
  width: 100%;
  margin: 0;
font-family:'Poppins', sans-serif;
  
}
/* header */
#nav-bar{
  position: fixed  ;
  display: flex;
  justify-content: space-between;
  text-align:center;
  align-items:center;
  height: 8vh;
  width: 100%;
  z-index:1;
  padding-top: 40px;
}
#logo{
  height:15vh;
}

.naveg{
  height: 7vh;
  padding: 0;
 background-color: #ffffff66;
  border-radius: 70PX;
  border: solid 1px;
  width:50%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.naveg ul{
  
  display: flex;
  justify-content:space-around;
  text-align:center;
}
.naveg ul li{
  margin: 0px 20px;
  list-style: none;
 text-align: center;
  
}
.naveg ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
font-size: 1.2em;
  
}



#pesquisa{
  width:15%;
  height:5vh;
  margin:5%;
  border-radius: 20px;
  border-style:none;
  border: solid 1px;
  background-color: rgba(255, 255, 255, 0.361);
  text-align: center;
 
}
header{
  height: 15vh;
}
/* main */
.main{
   background-attachment:hidden;
   width: 100%;
   margin: 0;

}
.main video{
   height: 50;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
 
}


#Titulo1{
  color: rgb(255, 255, 255);
  font-size: 2.8em;
 position: absolute;
  z-index: 3;
left: 5%;
  top:15%
}
  

#txtpr{
  border-bottom: 3px orange solid ;
  font-size: 2.5em;
}
#Titulo{
  position: absolute;
  z-index: 3;
  top:35%;
  left: 5%;
  font-size: 3em;
}
h1{text-align: left;
  
 color:transparent ;
  position: absolute;
   z-index: 3;

}

h1 span{
  transition: 1.5s;
  margin: 5px;
}
h1 span:hover {
    color: orange;
    font-size: 1.2em;
   -webkit-text-stroke: 0px;
 
}
#btn{
  position: absolute;
  z-index: 3;
 bottom: 20%;
  right: 20%;
  background: rgb(255, 255, 255);
  border:none;
  border-radius: 40px;
  width: 20%;
  height: 7vh;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  text-align: center;
  text-decoration: none; 
  padding-top:1%;
}

#btn:hover{
  color: orange;
  height: 8vh;
}
#texto1{
  transition: 2s;
}
.titulo2{
  margin-left: 5%;
  font-size: 2.5em;
  font-weight: 2%;
  font-family:"Montserrat",serif;
  color: white;
  -webkit-text-stroke: 1px black;;
  transition: 2s;
}
.lorems{
  display: flex;
  justify-content: space-between;
background-size: cover;
  background-attachment: cover;
  width: 100%;
  
  
  
}
#paragrafo,#paragrafo2{
  text-align: center;
 margin: 5%;
 
}
iframe{
  margin: 5%;
  
}


#parte1, #parte2{
  display: flex;
}
#parte1 p{
 
  border-radius: 10% 0% 0% 10%;
  padding: 3%;
  text-align: right;
}
#parte2 p{
  
  border-radius: 0% 10% 10% 0%;
  padding: 3%;
  text-align: left;
 
}
#parte2{
   margin-bottom: 10%;
}
.img{
  width: 45%;
  margin: 5%;
  border-radius: 2000px;
  background-attachment: cover;
  background-size: cover;
  transition:1s;
}
.img:hover{
  width: 50%;
}
#ft-final{
  width: 100%;
  background-attachment: cover;
  background-size: cover;
}
#pfinal{
  text-align: center;
  margin: 10%;
}
/* footer */
footer{
  background-color: orange ;
  text-align: center;
}
footer ul {
 display: flex; 
  justify-content: center;
 
}
footer li{
  
  margin: 3%;
}

